<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
</head>
<body>
<div class="container">
    <h2>Error</h2>

    <p class="error"><%= message %></p>

    <form action="<%= backUrl %>" method="get">
        <button type="submit">Go back</button>
    </form>
</div>
</body>
</html>
